/* Elements */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

:root {
    --color-red: #F03C42;
    --color-yellow: #FFF964;
    --color-green: #02B814;
    --color-gray: #5E5E5E;
    --color-light-gray: #E5E5E5;
    --color-black: #000;
    --color-white: #fff;
}

header {
    background-color: var(--color-red);
    height: 70px;
    align-items: center;
    display: flex;
    padding: 0 15px;
}

nav h1 {
    color: var(--color-yellow);
    font-size: 24px;
    text-align: center;
}

footer {
    height: 120px;
    background-color: var(--color-red);
    color: var(--color-yellow);
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

/* Class e IDs */

#pizzas {
    padding: 20px 15px;
    background-color: var(--color-light-gray);
}

#comments {
    padding: 20px 15px;
}

#comments h2 {
    text-align: center;
    font-size: 32px;
    color: var(--color-gray);
    margin-bottom: 40px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.pizza-card {
    display: flex;
    margin: 20px 0;
}

.pizza-card img {
    border-radius: 12px 0 0 12px;
    width: 200px;
    height: 200px;
}

.pizza-card-descripion {
    background-color: var(--color-white);
    border-radius: 0 12px 12px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pizza-card-descripion h3 {
    color: var(--color-gray);
    font-size: 24px;
}

.pizza-card-descripion p {
    color: var(--color-gray);
    font-size: 14px;
}

.pizza-card-descripion h4 {
    color: var(--color-green);
    font-size: 24px;
}

.card-comment {
    background-color: var(--color-yellow);
    color: var(--color-red);
    border-radius: 12px;
    padding: 25px 20px;
    margin: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content a {
    font-size: 16px;
}

.footer-content address {
    font-size: 16px;
}